.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

blockquote p {
  font-size: 10pt;
  font-weight: 300;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
h3 {
  font-family: 'oxygen', sans-serif;
  font-weight: 300;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* Portfolio PLUGIN */



/* Links */
a {
  color: #3d4753;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #3d4753;
  text-decoration: underline;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*---------------------------------------------------
	3.1 Topbar
---------------------------------------------------*/

#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  /* font: normal 16px/24px  'Open Sans', "Ubuntu", Helvetica, Arial, sans-serif; */
}

#section-topbar a {
  color: #fff;
}

#topbar-inner {
  background: #4e607a;
  line-height: 0;
  text-align: center;
}

/*
	Top Bar

	By default, top navigation bar uses "fixed" position
*/
#section-topbar ul#nav {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;

  border-right: 1px solid #ccc;
  float: right;
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}

#section-topbar ul#nav > li {
  display: block;
  float: left;
  padding: 0;
}


#section-topbar ul#nav a {
  display: block;
  /*font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  border-left: 1px solid #ccc;
}

#section-topbar ul#nav a:hover {
  background: #c1c2c6;
  text-decoration: none;
  border-left: 1px solid #111;
}

#section-topbar ul#nav .active a {
  background: #44bbaa;
  border-left: 1px solid #111;
}

#section-topbar ul#nav .active a:hover {
  background: #44bbaa;
}
#section-topbar i {
  font-size: 25px;
}
/*---------------------------------------------------
	SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
#headerwrap {
  background: url(../images/header-bg.jpg) no-repeat center top;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  margin-top: 20px;
  padding-top:290px;
  text-align:center;
  /*background-attachment: relative;*/
  background-position: center center;
  min-height: 500px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  font-size: 80px;
  color: white;
}

#headerwrap h3 {
  font-size: 20px;
  color: #ccc;
}

/* Intro Wrap */

#intro {
  background: #878958;
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
}

#intro h3, p {
  color: black;
  font-family: 'oxygen', sans-serif;
  font-weight: 300;
}

#intro i {
  color: black;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}
#intro ul li {
  color: black;
}

#skillswrap {
  background: #000;
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
  font-family: 'Oxygen', sans-serif;
}

#skillswrap h5, p {
  color: black;
}

#footwrap {
  background: #ccc;
  padding-top: 25px;
  padding-bottom: 25px;
}

#footwrap p {
  color: black;
}

#footwrap h5 {
  color: black;
}


#footwrap b {
  font-weight: 700;
}

#footwrap i {
  padding-right: 8px;
  color: #3d4753;
}

/* Copyright Wrap */

#c {
  background: #222222;
  padding-top: 15px;
  text-align: right;
}

#c p {
  color: white
}



/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc b {
  color: #353739;
  font-weight: 700;
}

.sm {
  font-size: 12px;
}

.gallery {
  border: 1px solid #ccc;
}
